[user]
    name = Kris Steinhoff
    email = steinhof@umich.edu
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    lg = log --pretty=format:'%C(yellow)%h%Creset%x09%an%x09%ad%x09%C(cyan)%d%Creset %s' --graph --date=short

    c = commit -v
    l = log --decorate --graph --pretty=format:'%C(yellow)%h%C(reset) - %s %C(green)<%an>%C(reset) %C(cyan)%cr %C(yellow)%d%Creset'

[merge]
    tool = vimdiff
[core]
    excludesfile = ~/.gitexcludes
#[push]
#   default = simple

[push]
	default = simple
[gpg]
	program = gpg

[include]
    path = ~/.gitconfig.local
