[user]
    name = Kris Steinhoff
    email = steinhof@umich.edu
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    lg = log --pretty=format:'%C(yellow)%h%Creset%x09%an%x09%ad%x09%C(cyan)%d%Creset %s' --graph --date=short
[merge]
    tool = vimdiff
[core]
    excludesfile = ~/.gitexcludes
#[push]
#   default = simple

[push]
	default = simple
