model = "gpt-5.6-luna"
model_reasoning_effort = "medium"
sandbox_mode = "workspace-write"

developer_instructions = '''
{{ template "agents/personas/commenter.md" . -}}
'''

[sandbox_workspace_write]
network_access = true
